@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #0f172a;
  font-family: "Inter", sans-serif;
  color: #e5e7eb;
}
.container {
  max-width: 900px;
  margin: auto;
  padding: 30px;
}
.title {
  text-align: center;
  font-size: 2.5rem;
  color: #38bdf8;
  margin-bottom: 30px;
}
.card {
  background: #020617;
  border-radius: 12px;
  padding: 25px;
  margin-bottom: 25px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}
input,
select {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
  background: #0f172a;
  color: #e5e7eb;
  font-size: 14px;
}
input:focus,
select:focus,
textarea:focus {
  outline: 2px solid #38bdf8;
}
button {
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: #1e293b;
  color: #e5e7eb;
  font-weight: 600;
  transition: all 0, 2s ease;
}
button:hover {
  background: #334155;
}
.primary {
  background: #38bdf8;
  color: #020617;
}
.primary:hover {
  background: #0ea5e9;
}
.btn-group {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.editor textarea {
  width: 100%;
  height: 200px;
  background: #020617;
  color: #e5e7eb;
  border-radius: 8px;
  padding: 15px;
  font-family: monospace;
  font-size: 14px;
  margin-top: 15px;
  border: none;
}
.run-btn {
  margin-top: 15px;
  width: 100%;
}

pre {
  background: #020617;
  padding: 15px;
  border-radius: 8px;
  margin-top: 15px;
  max-height: 200px;
  overflow-y: auto;
  border-left: 4px solid #38bdf8;
  font-size: 13px;
}
